<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>TITLE</h1>

    <% names.forEach(function(element, index) { %>
        <div class="formDiv">
            <form action="/actions" method="POST">
                <input type="text" name="index" value="<%= index %>">
                <input type="text" id="text"  name="postId" value="<%= element %>">

                <button type="submit" name="action" value="delete">Delete</button>
                <button type="submit" name="action" value="edit">Edit</button> 
            </form>
        </div>
    <% }); %>
    
    <form action="/submit" method="POST">
        <input type="text" name="post1">
        <input type="submit">
    </form>
</body>
</html>